.email-list li{
    list-style: none;
    list-style-position: unset;
    border-style: solid;
    border-bottom: 0ch;
    margin: 0;
    /* margin-left: 1em; */
    margin-right: 2em;
    /* padding: 0.3em; */
    border-color: lightgrey;
    color:black;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 10px;

}

.email-list li:last-child{
 border-bottom:0.4ch solid lightgrey;
}
.email-list li a{
    text-decoration: none;
    color:black;
}
.email-app h2{
    text-align: center;
    border-style: solid;
    border-color: lightgrey;
    color:grey;
    padding: 1em;
}

.email-preview{
    text-decoration: none;
    font-size: 14px;
    padding: 1em;
    display: flex;
}

.bold{
    font-weight:bold;
    background-color: lightgoldenrodyellow;
    color:grey;
}

.email-actions{
    border-style: solid;
    margin: 0;
    padding: 0.5em;
    color:grey;
    border-color:lightgrey;
}

.email-details{
    padding:1em;
    color:grey;
}

.from-message{
    width: 16em;
}
.date-message{
    flex:5;
}
.sub-message{
    flex:5;
}
.body-message{
    flex:15;
}

.new-email{
    font-size: 14px;
    padding: 1em;
}
.new-email-buttons{
    padding-top: 1em;

}
 
button{
    cursor: pointer;
}

