.email-list li{
    list-style: none;
    list-style-position: unset;
    border-style: solid;
    border-bottom: 0ch;
    margin: 0;
    /* margin-left: 1em; */
    margin-right: 2em;
    /* padding: 0.3em; */
    border-color: lightgrey;
    color:black;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-size: 10px;

}

.email-list li:last-child{
 border-bottom:0.4ch solid lightgrey;
}
.email-list li a{
    text-decoration: none;
    color:black;
}
.email-app h2{
    text-align: center;
    border-style: solid;
    border-color: lightgrey;
    color: #6f5656;
    padding: 14px;
    width: 78vw;
    margin:  0 auto;
    margin-bottom: 13px;
    font-size: 35px;
    border-radius: 5px;
}

.email-preview{
    text-decoration: none;
    font-size: 14px;
    padding: 1em;
    display: flex;
}

.bold{
    font-weight:bold;
    background-color: lightgoldenrodyellow;
    color:grey;
}

.email-actions{
    border-style: solid;
    padding: 0.5em;
    color:grey;
    border-color:lightgrey;
    width: 79vw;
    margin:  0 auto;
    display:  flex;
    flex-direction:  column;
    justify-content:  space-around;
    height: 151px;
    align-items:  center;
}

.email-details{
    padding:1em;
    color:grey;
    display:  flex;
    justify-content:  center;
    height: 85vh;
}
.email-info{
    
width: 71vw;
    
display:  flex;
    
flex-wrap:  wrap;
    
flex-direction:  column;
    
border: 2px solid grey;
    
border-radius: 6px;
    
font-size: 18px;
    
padding: 45px;
    
height: 57vh;
    
position:  relative;
    
top: 94px;
}

.from-message{
    width: 16em;
}
.date-message{
    flex:5;
}
.sub-message{
    flex:5;
}
.body-message{
    flex:15;
}

.new-email{
    font-size: 14px;
    padding: 1em;
}
.new-email-buttons{
    padding-top: 1em;

}
.action-btns{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.action-btns input{
    margin-right: 30px
 }
button{
    cursor: pointer;
    border: none;
    padding: 23px;
    border-radius: 6px;
    color:  white;
    background-color:  darkslategrey;
}

@media (max-width:650px){
    .action-btns{
        flex-direction: column;
    }
    .action-btns button{
        padding: 6px;
        margin-bottom: 10px;
    }
    .readOpns{
        display: flex;
        flex-direction: row
    
    }
}
@media (max-width:340px){
    .action-btns input{
        margin-right: 0px;
     }

}

