.email-list li{
    list-style: none;
    list-style-position: unset;
    border-style: solid;
    border-bottom: 0ch;
    margin: 0;
    /* margin-left: 1em; */
    margin-right: 2em;
    padding: 1em;
    color:grey;
    cursor: pointer;
    text-decoration: none;

}

.email-list li:last-child{
 border-bottom:0.4ch solid gray;
}
.email-app h2{
    text-align: center;
    border-style: solid;
    color:gray;
    padding: 1em;
}

.email-preview{
    text-decoration: none;
}

.bold{
    font:bold;
    font-size: 10px;
}

.email-actions{
    border-style: solid;
    margin: 0;
    padding: 0.5em;
    color:grey;
    cursor: pointer;
}