.note-container{
    padding: 25px;
    border: 2px solid #0000003d;
    text-align: center;
    margin: 17px;
    cursor:  pointer;
}
.editor-container{
    padding: 25px;
    border: 2px solid #0000003d;
    text-align: center;
    margin: 17px;
}
.top-btn{
    float: right;
}
.upload-img{
    width:150px
}